@font-face {
  font-family: 'Geist';
  src: url("./fonts/GeistVF.ttf") format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

html, body, #app {
  margin: 0;
  height: 100%;
  color: #EEEEEE;
  font-family: 'Geist', sans-serif;
  overflow: hidden;
}
